h1{
    font-size: 100px;
    text-align: center;
    font-family: sans-serif;
}

h2 {
font-size: 45px;
text-align: center;
font-family: sans-serif;
}

/*laying out elements side-by-side*/
/*laying out elements side-by-side*/

/*User Input textfield*/
#input {
float: left;
font-family: sans-serif;
font-size: 25px;
width: 75%;
height: 160px;
background-color: lightgray;
text-align: center;
resize: none;
}
/*User Input textfield*/

#playButton{
    float: right;
    width: 20%;
    height: 85px;
    background-color: greenyellow;
    font-size: 30px;
    border-radius: 60px;

}

.idealStyle {
    font-family: sans-serif;
    font-size: 20px;
}

slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider styles */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 60px;
  padding: 5px;

  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}