h1{
    font-size: 100px;
    text-align: center;
    font-family: sans-serif;
}

h2 {
font-size: 45px;
text-align: center;
font-family: sans-serif;
}

#input {
font-family: sans-serif;
font-size: 25px;
}

#tutorial {
font-size: 20px; font-family: sans-serif;
}

.idealStyle {
    font-family: sans-serif;
    font-size: 20px;
}

#label{
    float: left;
}

#changeSpeedSettings{
    float: left;
}